body{
  width:100%;
  background-color:#c2c4c2;
  font-family:helvetica, arial, sans-serif;
  text-align:center;
  padding: 0;
  margin: 0;
}

ul{
  width: 100%;
  padding:0;
  text-align:center;
}


ul li{
  list-style-type:none;
  display:block;
  margin-bottom: 4px;
  padding-top:2px;
  padding-bottom:10px;
  border:1px solid green;
  text-align:center;
}

li span{
  display:block; 
  float:left;
}
li a{
  padding: 5px 5px 5px 5px;
}
div.footer{
  margin:0;
  padding:0;
  word-wrap: break-word;
  width:50%;
  height:600px;
  float:left;
  background-color:red;
}

div.header{
  padding: 5px;
}

div.footer img{
width:80%;

padding-top:10px;
}

div#home{
width:40%;
float: right;
text-align: center;
clear:left;
}
