body {
  background-color: #445;
  color: orange; }
  body a {
    padding: 4px;
    background-color: #ccc;
    -webkit-border-radius: 4px;
    border: 2px solid #224466; }
  body .container {
    font-family: helvetica,arial,sans-serif,impact;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #222;
    padding: 8px;
    -webkit-border-radius: 8px; }
    body .container ul {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      background-color: #437;
      padding: 12px;
      padding-left: 24px;
      -webkit-border-radius: 8px; }
      body .container ul li {
        margin-bottom: 12px; }
  body .header h1, body .header a, body header div {
    display: block;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto; }
  body a {
    display: block; }
  body h1 {
    text-align: center; }
  body .postWrap {
    width: 400px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    padding: 12px; }
    body .postWrap h2 {
      text-align: center; }
  body .footer {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    body .footer a {
      display: block;
      margin-bottom: 4px; }
