@import "pyg.scss";


body{
	background-color:#445;
	color:orange + #222 ;
	a{
	  padding: 4px;
	   background-color:#ccc;
           -webkit-border-radius:4px;
            border: 2px solid #246;
	   &:hover, &:focus{
		   background-color:#ccc + #124;
		   border:2px solid orange + #124;
		}
	 }
        .container{
		font-family:"Permanent Marker",helvetica,arial,sans-serif,impact;
		width:600px;
		margin-left:auto;
		margin-right:auto;
		background-color:#222;
		padding:8px;
		-webkit-border-radius:8px;
		
		ul{
			list-style-type:none;
			list-style-image:url("../images/star.png");
			width:300px;
			margin-left:auto;
			margin-right:auto;
			background-color:#437;
			padding:12px;
			padding-left:24px;
			-webkit-border-radius:8px;
			

			li{
			  margin-bottom:12px;
			  font-family:helvetica,arial,sans-serif;
			}
			
		}
	}


	.header h1, .header a, header div{
		display:block;
		text-align:center;
		width:400px;
		margin-left:auto;
		margin-right:auto;
		text-shadow:3px 3px 3px #ffd050;
	}
        
        a{
           display:block;
         };
	h1{ text-align:center}

	.postWrap{
		font-family:helvetica,arial,sans-serif;
		width:400px;
		margin-top:8px;
		margin-left:auto;
		margin-right:auto;
		background-color:black;
		padding:12px;
		#postDate{
		text-align:center;
		}
		p{
		  a{
			display:inline;
			border:0px;	
			padding:1px;
			
		  }
		}
		h2{
		  font-family:"Permanent Marker";
		  text-align:center;
		}
	}
	.footer{
	width:300px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	  a{	
	     display:block;
	     margin-bottom:4px;
	  }
	}
}

